src/main/webapp/WEB-INF/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://ru.slobevg/schemas"
	targetNamespace="http://ru.slobevg/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0">

	<xs:element name="user" type="user" />

	<xs:complexType name="user">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required" />
	</xs:complexType>
	
	<xs:element name="response" type="response" />

	<xs:complexType name="response">
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>

